@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700,600,900,800,300,200,100);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
.long-text-button { width: 100%; white-space: normal !important; height: auto !important; padding: 0 10% !important;}
.login-container { width: 50%; left: 50%; position: fixed; top: 40%; transform: translate(-50%, -50%); font-family: 'Raleway', sans-serif;}
.errors { color: red; }
.has-errors { color: red;}
span.spinner { font-size: 38px; line-height: 38px;}

.header nav {
    background-color: #fff !important;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    height: 45px;
    margin: 0;
    min-height: 45px;
    padding: 4px 10px 5px;
    z-index: 99;
}
.header nav .toggle-nav {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    color: #707a85;
    padding: 4px;
    font-size: 22px;
    line-height: 30px;
    margin-right: 12px;
    margin-bottom: 0;
    text-shadow: none;
    vertical-align: middle;
}