<IfModule mod_dir.c>
    DirectoryIndex index.html
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine On  
	RewriteBase /admin/

	# If an existing asset or directory is requested go to it as it is
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-l

	# If the requested resource doesn't exist, use index.html
	RewriteRule ^ index.html
</IfModule>